<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css?q=1280549780') }}"> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/croppie.css') }}" />
 <script src="{{ url_for('static', filename='js/croppie.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
 <link rel="stylesheet" href="/static/css/styles.css?q=1280549785"
   type="text/css" media="screen" charset="utf-8" />
</head>
<body>
    <!-- <div class="container text-center center-screen" >
        <div class="d-flex justify-content-center align-content-center center-screen">
            <form id="upload-form" class="uploader" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <div class="d-flex justify-content-center">
                    <strong>Upload Rice Image</strong><br>
                </div>
                <div class="d-flex justify-content-center">
                    <input id="file-picker" type="file" name="file" accept="image/*">
                </div>
                <div class="d-flex croppie-image">
                        <img id="my-image" src="#">
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Upload!" id="upload-button">
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button id="use">Upload</button>
                <button id="rotate-right">Rotate Right</button>
            </div>
            <img id="result" src=""/>
        </div>
    </div> -->
<div class="container text-center" >
    <h2>Rice Detection</h2>
    <p class="lead">Please Upload <b>Your Image</b></p>

    <!-- Upload  -->
    <form id="file-upload-form" class="uploader" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <input id="file-upload" type="file" name="file" accept="image/*"/>
        <label for="file-upload" id="file-drag">
            <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a image file</div>
                <div id="notimage" class="hidden">Please select an image</div>
            </div>
        </label>
        <div>
            <img id="file-image" src="#" alt="Preview" class="hidden">
        </div>
        <input id="info" name="info" class="hide" type="text">
        <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
        <input id="upload-button" type="submit" class="btn btn-primary" value="Upload Image">
        <span id="rotate-right" class="btn btn-primary">Rotate Right</span>
    </form>
    <button id="use">test</button>
</div>
</body>
<script>
    var crop;
    $("#file-upload-btn").click(function(e) {
        $("#file-upload").click();
        e.preventDefault();
    });

    $('#upload-button').hide();
    $('#rotate-right').hide();
    
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
        $('#file-image').attr('src', e.target.result);
        let vp = [403.2,302.4]
            crop = new Croppie($('#file-image')[0], {
            viewport: { width: vp[0], height: vp[1]},
            boundary: { width: vp[0]+200, height: vp[1]+200 },
            showZoomer: true,
            enableOrientation: true,
            enableResize: true,
        });
        $('#upload-button').show();
        $('#rotate-right').show();
        $('#upload-button').on('click', function() {
            var points = crop.get().points
            var rotate = crop.get().orientation
            if (rotate == 8){
                rotate = 90
            }else if(rotate == 3){
                rotate = 180
            }else if(rotate == 6){
                rotate = 270
            }else{
                rotate = 0
            }
            $("#info").val(points+','+rotate)
        })
        $('#rotate-right').on('click', function() {
            crop.rotate(90);
        });
        }
        reader.readAsDataURL(input.files[0]);
    }
    }

    $("#file-upload").change(async function(e) {
        e.preventDefault();
        $("#file-drag").hide();
        console.log(this.value.length != 0, crop != undefined)
        if (crop != undefined) {
            if (this.value.length != 0) {
                await crop.destroy()
                await console.log(crop)
            }
        }
        readURL(this);
    });

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>