<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css?q=1280549780') }}"> -->
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/croppie.css') }}" />
 <script src="{{ url_for('static', filename='js/croppie.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
 <link rel="stylesheet" href="/static/css/styles.css?q=1280549785"
   type="text/css" media="screen" charset="utf-8" />
</head>
<body>
    <!-- <div class="container text-center center-screen" >
        <div class="d-flex justify-content-center align-content-center center-screen">
            <form id="upload-form" class="uploader" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <div class="d-flex justify-content-center">
                    <strong>Upload Rice Image</strong><br>
                </div>
                <div class="d-flex justify-content-center">
                    <input id="file-picker" type="file" name="file" accept="image/*">
                </div>
                <div class="d-flex croppie-image">
                        <img id="my-image" src="#">
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Upload!" id="upload-button">
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button id="use">Upload</button>
                <button id="rotate-right">Rotate Right</button>
            </div>
            <img id="result" src=""/>
        </div>
    </div> -->
<div class="container text-center center-screen" >
    <h2>Rice Detection</h2>
    <p class="lead">Please Upload <b>Your Image</b></p>

    <!-- Upload  -->
    <form id="file-upload-form" class="uploader">
        <input id="file-upload" type="file" name="file" accept="image/*"/>
        <label for="file-upload" id="file-drag">
            <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a image file</div>
                <div id="notimage" class="hidden">Please select an image</div>
            </div>
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
        </label>
    </form>
</body>
<script>
    function srcToFile(src, fileName, mimeType){
        return (fetch(src)
            .then(function(res){return res.arrayBuffer();})
            .then(function(buf){return new File([buf], fileName,{type:mimeType});})
        );
    }

    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
        $('#file-image').attr('src', e.target.result);
        let crop = new Croppie($('#file-image')[0], {
            viewport: { width: 403.2, height: 302.4 },
            boundary: { width: 603.2, height: 502.4 },
            showZoomer: true,
            enableOrientation: true
        });
        $('#use').fadeIn();
        $('#use').on('click', function() {
            crop.result('html').then(function(dataImg) {
                width = dataImg.style.width.slice(0,-2)
                height = dataImg.style.height.slice(0,-2)
                tops = dataImg.getElementsByTagName("img")[0].style.top.slice(0,-2)
                left = dataImg.getElementsByTagName("img")[0].style.left.slice(0,-2)
                console.log(width,height,tops,left)
            // srcToFile(input.files[0], input.files[0].name, input.files[0].type)            
            // .then(function(file){
            //     var fd = new FormData();
            //     fd.append('file1', file);
            //     console.log(file)
            //     return $.ajax({
            //                 url: '/upload',
            //                 data: $('upload-form').serialize(),
            //                 type: 'POST',
            //                 success: function(response) {
            //                     console.log(response);
            //                 },
            //                 error: function(error) {
            //                     console.log(error);
            //                 }
            //             });
                // return fetch('/upload.php', {method:'POST', body:fd});
            // })
            // .then(function(res){
            //     return res.text();
            // })
            // .then(console.log)
            // .catch(console.error)
            // var info = crop.croppie('get');
            // comsole.log('Point', info)
            })
        })
        $('#rotate-right').on('click', function() {
            crop.rotate(90);
        });
        }
        reader.readAsDataURL(input.files[0]);
    }
    }

    $("#file-upload").change(function() {
        readURL(this);
    });

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>